# ==========================================
# DADOS DE EXECUCAO
# ==========================================

Logs/
Quarentena/
BackupHash/
Gravacoes/

# ==========================================
# AMBIENTE DE TESTE
# ==========================================

TesteMovimentacao/

# ==========================================
# ARQUIVOS TEMPORARIOS
# ==========================================

*.tmp
*.temp

# ==========================================
# WINDOWS
# ==========================================

Thumbs.db
Desktop.ini

# ==========================================
# EDITORES
# ==========================================

.vscode/